# Project exclude paths
/docs/
/out/test/NursingHomesTestingStrategy/networks/
/out/test/NursingHomesTestingStrategy/resources/networks/*.txt
/out/test/NursingHomesTestingStrategy/resources/networks/*.png
/out/test/NursingHomesTestingStrategy/network/*.class
/out/production/NursingHomesTestingStrategy/*.class
/out/production/NursingHomesTestingStrategy/network/*.class
/out/production/NursingHomesTestingStrategy/helper/*.class
/out/test/NursingHomesTestingStrategy/helper/*.class
/out/production/NursingHomesTestingStrategy/dataTypes/*.class
/out/production/NursingHomesTestingStrategy/simulation/*.class
/out/production/NursingHomesTestingStrategy/analysis/*.class
/out/production/NursingHomesTestingStrategy/*.ser
/out/production/NursingHomesTestingStrategy/*.csv
