# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Google Drive\My Codes\IntelliJ Projects\NursingHomesTestingStrategy\.idea/dataSources/
/dataSources.local.xml
